@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our awesome project!</h1>
    <h2 class="display-4">By group Dunder D!</h2>
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.oru.se%2F&psig=AOvVaw070g4bk6c5XHFFoXlP8DeR&ust=1620217567896000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJjNuv2CsPACFQAAAAAdAAAAABAD" alt="ORU">
    <p>By: Freddy, Zozk, Ali, Ali & Isak</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
