@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="text-align:center">
    <h2>Create a new Role</h2>

    <div style="text-align:center">
        @using (Html.BeginForm())
        {
                <tr>
                    <br /> 
                   <b> <td class="c">Name of the new Role</td></b> 
                    <br /> <br /> 
                    <td class="c">
                        @Html.EditorFor(m => m.Name)
                    </td>
                </tr>
            <input type="submit" value="Create Role" />
        }
        <br /> <br /> <br /> 
